<% if @event.errors.any? %>
  <% @event.errors.full_messages.each do |message| %>
  <h3>Please fix the following errors:</h3>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>

<%= form_for event do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :start_date %>
    <%= f.datetime_select(:start_date, order: [:day, :month, :year], start_year: Date.current.year, ampm: true) %>
  </div>

  <div>
    <%= f.label :end_date %>
    <%= f.datetime_select(:end_date, order: [:day, :month, :year], start_year: Date.current.year, ampm: true) %>
  </div>

  <div>
    <%= f.label :venue %>
    <%= f.text_field :venue %>
  </div>

  <div>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <%= f.submit %>
<% end %>
