<h1><%= @event.title %></h1>

<div>
  <p><%= @event.description %></p>
</div>

<div>
  <p><%= @event.start_date %></p>
</div>

<div>
  <p><%= @event.end_date %></p>
</div>

<div>
  <p><%= @event.venue %></p>
</div>

<div>
  <p><%= @event.location %></p>
</div>

<%= link_to 'Back', root_path %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Delete', event_path(@event), method: :delete, data: { confirm: "Are you sure you want to delete the #{@event.title} event?" } %>
